button {
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;

    &.error {
        border-bottom: 1px solid red;
    }
}

.rounded {
    border-radius: var(--corner-radius);
}