:root {
    --primary-color: #FF005C;
    --green-color: #1ACB0C;
    --background-color: #323232;
    --darker-background-color: #191919;
    --shadow-color: rgba(0,0,0,0.25);
    --ripple-color: rgba(255,255,255,0.25);
}

input {
    background-color: transparent;
}