a {
    text-decoration: none;
    font-weight: bold;
}

button {
    color: inherit;
    font-size: inherit;
    font-weight: bold;
}

input {
    color: inherit;
    font-size: inherit;
}

.caption {
    font-size: 12px;
}