a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

button {
    color: inherit;
    font-size: inherit;
    font-weight: bold;
}

input {
    color: inherit;
    font-size: inherit;

    &.error::placeholder {
        color: red;
    }
}

.caption {
    font-size: 12px;
}