#top-navigation {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-navigation-height);
    background: linear-gradient(to bottom, var(--shadow-color), transparent)
}