<div class="view no-top-padding flex column align-start">


    <div id="above-the-fold" class="flex column align-start">
        <div class="left-content flex column align-start gap">
            <h1 class="no-margin">Sonddr is a place to share and contribute to each other ideas to make the world a little (or a lot) better.</h1>
            <div id="call-to-actions" class="flex row gap">
                <button class="rounded" mat-ripple (click)="onShareClick()">Share an idea</button>
                <div class="flex column align-start very-small-gap">
                    <span class="caption">or get the app:</span>
                    <div class="flex small-gap">
                        <div class="icon" mat-ripple [matRippleRadius]="24" [matRippleUnbounded]="true" 
                        [matRippleCentered]="true" matRippleColor="var(--ripple-color)" (click)="onIosClick()">
                            <img src="/assets/apple-logo-white.png">
                        </div>
                        <div class="icon" mat-ripple [matRippleRadius]="24" 
                        [matRippleUnbounded]="true" [matRippleCentered]="true" matRippleColor="var(--ripple-color)" 
                        (click)="onAndroidClick()">
                            <img src="/assets/android-logo-white.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-hscroll no-scrollbar" [style.height]="this.goalIconWidth + 'px'" #autoscroll>
            <div class="goal" *ngFor="let goalId of goalIds">
                <img [src]="'/assets/goals/E-WEB-Goal-'+(goalId < 10 ? '0' : '')+goalId+'.png'">
            </div>
        </div>
        <img class="mockup" src="/assets/home-mockup.png">
    </div>


    <div id="steps" class="flex align-start">
        <app-step n="1" color="var(--primary-color)" icon="cloud_upload" title="Share an idea" body="Don’t let that 1am seemingly brilliant idea die overnight, share it! It will be realised if it’s good, by you or by someone else."></app-step>
        <app-step n="2" color="var(--primary-color)" icon="forum" title="Get and send feedback" body="Discuss and rate each other ideas: help turn a somewhat interesting thought into a solid project ready for the real world."></app-step>
        <app-step n="3" color="var(--green-color)" icon="handshake" title="Organise and make things happen" body="Get in touch with like-minded people and bring an idea to life. Leverage human and financial resource to make a difference."></app-step>
    </div>


    <div id="footer">
        <div class="newsletter flex column align-start small-gap">
            <h1 class="no-margin">Sonddr is still a work in progress.</h1>
            <div class="input-container flex gap">
                <input type="email" placeholder="Recieve updates by email">
                <app-fab color="var(--primary-color)" icon="send"></app-fab>
            </div>
        </div>
        <app-footer-column>
            <span mat-ripple [matRippleRadius]="24" [matRippleCentered]="true" [matRippleUnbounded]="true" matRippleColor="var(--ripple-color)">Home</span>
            <span mat-ripple [matRippleRadius]="24" [matRippleCentered]="true" [matRippleUnbounded]="true" matRippleColor="var(--ripple-color)">Ideas</span>
            <span mat-ripple [matRippleRadius]="24" [matRippleCentered]="true" [matRippleUnbounded]="true" matRippleColor="var(--ripple-color)">Blog</span>
            <span mat-ripple [matRippleRadius]="24" [matRippleCentered]="true" [matRippleUnbounded]="true" matRippleColor="var(--ripple-color)">About</span>
        </app-footer-column>
        <app-footer-column>
            <div class="icon" mat-ripple [matRippleRadius]="24" [matRippleCentered]="true" [matRippleUnbounded]="true" matRippleColor="var(--ripple-color)">
                <img src="/assets/github-logo-white.png">
            </div>
            <div class="icon" mat-ripple [matRippleRadius]="24" [matRippleCentered]="true" [matRippleUnbounded]="true" matRippleColor="var(--ripple-color)">
                <img src="/assets/twitter-logo-white.png">
            </div>
            <div class="icon" mat-ripple [matRippleRadius]="24" [matRippleCentered]="true" [matRippleUnbounded]="true" matRippleColor="var(--ripple-color)">
                <img src="/assets/instagram-logo-white.png">
            </div>
        </app-footer-column>
    </div>


</div>
