#above-the-fold {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    padding-left: 100px;

    .left-content {
        position: relative;
        width: 500px;
        height: 100%;
        padding-top: var(--top-navigation-height);
        padding-bottom: 200px;

        #call-to-actions {
            // ...
            
            button {
                background-color: var(--green-color);
                padding: var(--small-spacing) var(--spacing);
            }

            .caption {
                opacity: 0.5;
            }

            .icon {
                cursor: pointer;
            }
        }
    }

    .bottom-hscroll {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        // height is defined in html because needs sync with js
        overflow: auto;
        white-space: nowrap;
        pointer-events: none;

        .goal {
            display: inline-block;
            height: 100%;
            position: relative;

            img {
                height: 100%;
            }
        }
    }

    .mockup {
        position: absolute;
        bottom: 0;
        left: 150px;
        height: 250px;
    }
}

#steps {
    padding: 128px var(--spacing); 
    gap: 64px;
    background: linear-gradient(to bottom, var(--background-color), var(--darker-background-color));

    app-step { flex: 1; }
}

#footer {
    width: 100%; 
    padding: 128px var(--spacing);
    background: var(--darker-background-color);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    .newsletter {

        .input-container {
            width: 100%;

            input {
                flex: 1;
            }
            app-fab { 
                transform: rotate(-45deg); 
            }
        }
    }

    app-footer-column {

        * {
            cursor: pointer;
        }
    }
}


/* responsive */
/* ---------------------------------------------- */
@media only screen and (max-width: 700px) {
    #above-the-fold {
        padding: 0 var(--spacing);

        .left-content {
            width: 100%;
            padding-bottom: 150px;
        }

        .mockup {
            display: none;
        }
    }

    #steps {
        flex-direction: column;
    }
}
