#above-the-fold {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    padding-left: 100px;

    .left-content {
        position: relative;
        width: 500px;
        height: 100%;
        padding-top: var(--top-navigation-height);
        padding-bottom: 200px;

        #call-to-actions {
            // ...
            
            button {
                background-color: var(--green-color);
                padding: var(--small-spacing) var(--spacing);
            }

            .caption {
                opacity: 0.5;
            }

            .icon {
                cursor: pointer;
            }
        }
    }

    .bottom-hscroll {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px; 
        background: green;
    }

    .mockup {
        position: absolute;
        bottom: 0;
        left: 100px;
        height: 250px;
    }
}

@media only screen and (max-width: 700px) {
    #above-the-fold {
        padding: 0 var(--spacing);

        .left-content {
            width: 100%;
        }

        .mockup {
            left: var(--spacing);
        }
        
    }
}
