#above-the-fold {
    --additional-offset: 50px;
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    padding-left: 100px;

    .left-content {
        position: relative;
        width: 500px;
        height: 100%;
        padding-bottom: calc(250px - var(--additional-offset));  // more towards the bottom
        padding-top: var(--top-navigation-height);

        #call-to-actions {
            // ...
            
            button {
                background-color: var(--green-color);
                padding: var(--small-spacing) var(--spacing);
            }

            .caption {
                opacity: 0.5;
            }

            .icon {
                cursor: pointer;
            }
        }

        #mockup {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0px);
            height: 250px;
        }
    }
}

@media only screen and (max-width: 700px) {
    #above-the-fold {
        padding: 0 var(--spacing);

        .left-content {
            width: 100%;
        }
        
    }
}

@media only screen and (max-height: 700px) {
    #above-the-fold {
        --additional-offset: 0px;
    }
}